<h4  class="contact-header" style="margin-top: 0;">  ALL CLUBS </h4>
<%  @clubs.each do |club| %>

<div class="flip-container">
	<% if find_investor? %>
		<%= image_tag("clubmember.png", :id => "active-member" , width: "40", height: "40") %>
	<% else %>
		<button id="join_club"> Join </button>

	<div class="flipper">
	<div class="front">	
	<%= image_tag("clubAvatar.png", class: "clubIcon" , width: "100", height: "100") %><br>
		<p> Club Name : <%= club.name %></p>
		<p> Country   :<%= club.focus_country %></p>
		<p> Country Manager :<%= club.country_manager %></p>
	<% end %>

</div>
<div class="back">
	<p> Target Amount USD :<%= club.fund_target %></p>
	<p> Invested Amount :<%= club.amt_invested %></p>
	<p> Member Count : <%= club.number_of_members %></p>
	<p> Proposal : <%= club.proposal %></p>
</div>
</div>
</div>

<div id="show-amt">
	<%= render 'investors/join_club' %>
</div>

<div id="charge-card">
	<p id="selected-amt" style="opacity: 1;"> </p>
	<% @charge = 25 %>
	<% @charge_type = "investment" %>
	<%= render 'payments/process_payment' %>
</div>

<% end %>






