<h4  class="contact-header" style="margin-top: 100px;">  ALL CLUBS </h4>

<%  @clubs.each do |club| %>


<div class="flip-container">


	<% if find_investor? %>
		<%= image_tag("clubmember.png", :id => "active-member" , width: "40", height: "40") %>
		<p id="increase-amount"> Adjust Investment Amount </p>
			<%= image_tag("clubAvatar.png", class: "clubIcon" , width: "100", height: "100") %><br>
		<p> Club Name : <%= club.name %></p>
		<p> Country   :<%= club.focus_country %></p>
		<p> Country Manager :<%= club.country_manager %></p>
	<% else %>
		<button id="join_club" class="dash-bttn"> Join </button>

	<div class="flipper">
	<div class="front">	
	<%= image_tag("clubAvatar.png", class: "clubIcon" , width: "100", height: "100") %><br>
		<p> Club Name : <%= club.name %></p>
		<p> Country   :<%= club.focus_country %></p>
		<p> Target Amount USD :$<%= club.fund_target %></p>
	<% end %>

</div>
<div class="back">
	
	<p> Country Manager :<%= club.country_manager %></p>
	<p> Invested Amount USD :$<%= club.amt_invested %></p>
	<p> Member Count : <%= club.number_of_members %></p>
	<p> Proposal : <%= club.proposal %></p>
</div>




<div id="charge-card">
	<p id="selected-amt" style="opacity: 1;"> </p>
	<% @charge_type = "investment" %>
	<% @c_id = club.id %>
	<%= render 'payments/process_payment' %>
</div>

<div id="show-amt" style="z-index: 50;">
	<%= render 'investors/join_club' %>
</div>


</div>
</div>






<% end %>

<div id="adjust-tooltip" class="tooltip-background">
	<p> Your Subscription will be adjusted. This may affect your future benefits. </p>
</div>






