<div class="content all-clubs">

<%= link_to "Return to #{current_employee.firstname}'s Dashboard", current_employee, :class => "app-links" %><br>
<h4 class="contact-header"> ALL CLUBS </h4>
<%  @clubs.each do |club| %>

<div class="flip-container">
	<div class="flipper">
		<div class="front">	
<%= image_tag("clubAvatar.png", class: "clubIcon" , width: "100", height: "100") %><br>

	<p> Club Name : <%= club.name %></p>
	<p> Country   :<%= club.focus_country %></p>
	<p> Country Manager :<%= club.country_manager %></p>

</div>
<div class="back">
	<p> Target Amount :<%= club.fund_target %></p>
	<p> Invested Amount :<%= club.amt_invested %></p>
	<p> Member Count : <%= club.number_of_members %></p>
	<p> Proposal : <%= club.proposal %></p>
	<% if employee_logged_in? %>
	<%= link_to "Edit", edit_club_path(club), :class => "app-links"  %>
	<% if current_employee.is_admin? %>

	<%= link_to 'Destroy', club_path(club),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "app-links"  %>
     <% end %>
    <% end %>
</div>
</div>
</div>

<% end %>
</div>

