<% provide(:title, "Beneficiaries")%>
<div class="content">
<div class="outer-form">
</div>
<div class="forms" style="margin-top: 100px;">
<h4  class="contact-header"> PLEASE CREATE AN ACCOUNT TO RECEIVE FUNDING </h4>
<div id="ben-form">
<%= form_for(@beneficiary, url:  get_funded_path) do |f| %>

		<%= f.label :Primary_Contact_Firstname %><br>
		<%= f.text_field :firstname %><br>

		<%= f.label :Primary_Contact_Lastname  %><br>
		<%= f.text_field :lastname %><br>


	<%= f.label :Enterprise_Name %><br>
	<%= f.text_field :enterprise_name %><br>

	<%= f.label :address %><br>
	<%= f.text_field :address %><br>

	<%= f.label :city %><br>
	<%= f.text_field :city %><br>

	<%= f.label :country %><br>
	<%= f.select :country, [ 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic (CAR)', 'Chad', 'Comoros', 'Democratic Republic of the Congo
', 'Republic of the Congo', "Cote d'Ivoire", 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe' ] %><br>

	<%= f.label :phone_number %><br>
	<%= f.text_field :phone_number %><br>

	<%= f.label :email %><br>
	<%= f.email_field :email %><br>

	<%= f.label :password %><br>
	<%= f.password_field :password %><br>

	<%= f.label :password_confirmation %><br>
	<%= f.password_field :password_confirmation %><br>


	<%= f.submit "Create Account", id: "ben-submit"%>


<% end %>
</div>
</div>

</div>
