<div class="outer-form" style="left: 39%;">
</div>
<div class="forms">
<h4  class="contact-header"> ADD NEW EMPLOYEE </h4>
<%= form_for(@employee, url: employees_path) do |f| %>
	<%= f.label :firstname %><br>
	<%= f.text_field :firstname %><br>

	<%= f.label :lastname%><br>
	<%= f.text_field :lastname %><br>

	<%= f.label :role %><br>
	<%= f.select :role, ['CEO', 'Business Manager', 'Software Engineer', 'Fundraising Coordinator'] %><br>

	<%= f.label :email %><br>
	<%= f.email_field :email %><br>


	<%= f.label :password %><br>
	<%= f.password_field :password, :value => "nemabollon", :disabled => true %><br>

	<%= f.label :password_confirmation %><br>
	<%= f.password_field :password_confirmation, :value => "nemabollon", :disabled => true %><br>

	<%= f.label :is_admin %><br>
	<%= f.check_box :is_admin %><br> 

	<%= f.submit "Add Employee" %>

<% end %>
</div>