<h4  class="contact-header"> TEAM MEMBERS </h4>

<%  @allEmployees.each do |employee| %>
	<div class="flip-container">
		<div class="flipper">
		<div class="front">	
		<p> Name : <%= employee.firstname %>
			<%= employee.lastname %></p>
	<p>Role : <%= employee.role %> </p>
	<p>Email : <%= employee.email %></p>
</div>
<div class="back">
	<%= employee.is_admin %>
	<%= link_to "View Employee", employee_path(employee), :class => "app-links" %>
	<%= link_to "Edit", edit_employee_path(employee), :class => "app-links" %>
	<%= link_to 'Destroy', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "app-links" %>
</div>
</div>
</div>

<% end %>
