<% provide(:title, "All Employees") %>
<div class="content">
<h4 class="contact-header"> ALL TEAM MEMBERS </h4>
<div id="add-employee">
<%= link_to image_tag("proposal.png", alt: "addEmployee", width: 40, height:40, float: "right" ), new_employee_path %>
<p>Add Employee </p>
</div>


<% @employees.each do |employee| %>
	<div class="flip-container">
		<div class="flipper">
		<div class="front">	
		<%= image_tag("employeeAvatar.png", class: "honor" , width: "100", height: "100") %>
		<p>Name : <%= employee.firstname %>
		<%= employee.lastname %></p>
		<p> Role : <%= employee.role %></p>
		<p> Email : <%= employee.email %></p>
	</div>
		<div class="back">

	<p><%= employee.is_admin %></p>
	<%= link_to "View Employee", employee_path(employee), :class => "app-links" %>
	<%= link_to "Edit", edit_employee_path(employee),  :class => "app-links" %>
	<%= link_to 'Destroy', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' },  :class => "app-links" %>
    	</div>
	</div>
	</div>
<% end %>
</div>
