<% provide(:title, @employee.firstname) %>
<div class="content">
<div class='emp-avatar'>
<%= image_tag("employeeAvatar.png", width: "100", height: "100") %>
</div>
<div id="employee-dash">

<% if @employee.is_admin %>

<p id="emp-updates" class="emp-opts"> Updates and News </p>
<p id="emp-add" class="emp-opts"> Add Employee </p>
<p id="emp-news" class="emp-opts"> Add News </p>
<p id="emp-priviledges" class="emp-opts"> Priviledges </p>
<p id="emp-clubs" class="emp-opts"> All Clubs</p>
<p id="emp-users" class="emp-opts"> All Users </p>
<p id="emp-managers" class="emp-opts"> Country Managers </p>
<p id="emp-owners" class="emp-opts"> All Enterprises </p>
<p id="emp-site" class="emp-opts"> Nemabollon Site </p>
<p id="emp-allEmp" class="emp-opts"> All Employees </p>
<p id="emp-proposals" class="emp-opts"> All Proposals </p>
<p id="emp-contacts" class="emp-opts"> System Log </p>

<% else %> 
<p id="emp-updates" class="emp-opts"> My Updates and News </p>
<p id="emp-priviledges"   class="emp-opts"> My Priviledges </p>
<p id="emp-clubs"  class="emp-opts"> All Clubs</p>
<p id="emp-users" class="emp-opts"> All Users </p>
<p id="emp-managers" class="emp-opts"> Country Managers </p>
<p id="emp-owners" class="emp-opts"> Beneficiaries </p>
<p id="emp-news" class="emp-opts"> Add News </p>
<% end %>
</div>

<%= link_to "LogOut", employee_logout_path, :id => "emp-logout", method: :delete, :class=> "app-links" %>

<div id="employee-content">
	<div class="notification-slider">
		<input type="range" min="0" max="1" value="0" class="slider" id="employeeNofication">
	</div>

<div id="add-employee" class="empl-opts">
	<%= render 'employees/add_employee' %>
</div>

<div id="show-investors" class="empl-opts">
	<%= render 'investors/all_investors' %>
</div>

<div id="show-updates" class="empl-opts">
	<%= render 'club_updates/club_update' %>
</div>

<div id="show-clubs" class="empl-opts">
	<%= render 'clubs/employee_clubs' %>
</div>

<div id="show-highlights" class="empl-opts">
	<%= render 'pages/highlight' %>
</div>

<div id="show-employees" class="empl-opts">
	<%= link_to "All Employees", employees_path %>
	<%= render 'employees/all_employees' %>
</div>

<div id="show-managers" class="empl-opts">
	<%= render 'clubs/country_manager' %>
</div>

<div id="show-owners" class="empl-opts">
	<%= render 'beneficiaries/all_benficiaries' %>
</div>

<div id="show-proposals" class="empl-opts">
	<%= render 'proposals/app_proposals' %>
</div>

<div id="show-contacts" class="empl-opts">
	<%= render 'system_logs/system_logs' %>
</div>

<div id="show-priviledges" class="empl-opts">
	<p> Update Account</p>
</div>

<div id="show-news" class="empl-opts">
	<%= render 'club_updates/club_update_form' %>
</div>

</div>

</div>
</div>