<div class="forms" style="margin-top: 120px;">
    <h4  class="contact-header"> EDIT PROJECT PLAN </h4>
<%= form_for(:beneficiary_project, url: beneficiary_beneficiary_project_path) do |f| %>
	<%= f.label :Title %><br>
	<%= f.text_field :title %><br>
	<%= f.label :Introduction %><br>
	<%= f.text_area :introduction %><br>
	<%= f.label :Description %><br>
	<%= f.text_area :description %><br>
	<%= f.label :CompanyDescription %><br>
	<%= f.text_area :company_description %><br>
	<%= f.label :Enterprise %><br>
	<%= f.text_area :enterprise_particulars%><br>
	<%= f.label :Marketing %><br>
	<%= f.text_area :marketing %><br>
	<%= f.label :HumanResources %><br>
	<%= f.text_area :human_resources %><br>
	<%= f.label :Collateral  %><br>
	<%= f.text_area :collateral_fund %><br>
	<%= f.label :Management %><br>
	<%= f.text_area :management %><br>
	<%= f.label :ProjectFinancing %><br>
	<%= f.text_area :project_financing%><br>
	<%= f.label :FinancialAnalysis %><br>
	<%= f.text_area :financial_analysis %><br>
	<%= f.label :EconomicAnalysis %><br>
	<%= f.text_area :economic_analysis%><br>
	<%= f.label :EnvironmentalImplications %><br>
	<%= f.text_area :environmental_implications%><br>
	<%= f.label :SocialImplications %><br>
	<%= f.text_area :social_implications%><br>
	<%= f.label :Transportation %><br>
	<%= f.text_area :transport_impacts%><br>
	<%= f.label :Conclusion %><br>
	<%= f.text_area :conclusion%><br>
	<%= f.submit "Update Proposal" %><br>
	<%= f.file_field :picture  %> %>
<% end %>
</div>
