<div class="forms">
<h4 class="contact-header" > CREATE HIGHLIGHT FOR HOME PAGE </h4>

<%= form_for(:page, url: pages_path) do |form| %>
	<%= form.label :Header %><br>
	<%= form.text_field :caption %><br>

	<%= form.label :Article %><br>
	<%= form.text_area :summary, cols: "50", rows: "10"%><br>

	
	<%= form.file_field :picture %><br>

	<%= form.submit "Create Highlight" %>

<% end %>

</div>



