<% provide(:title, "Home") %>
<div class="content">


 <% if @highlights.count > 0 %>
	<%  @highlights.each do |highlight| %>
	<div class="slidescroll">
		<div class="bg-image">
			<%= image_tag highlight.picture.url if highlight.picture? %>
		</div>
	</div>

	<div id="left-home">
		<div class="left-headers">
			<h4 class="h-header" id=<%= "#{highlight.id}" %>> <%= highlight.caption %> </h4>
		</div>
	</div>
	<div id="right-home">
		<div class="h-content" id=<%= "content-#{highlight.id}" %>
			<p> <%= highlight.caption %> </p>
			<p> <%= highlight.summary %></p>
		</div>
	</div>
	<% end %>

<% end %>


</div>

