<%= image_tag("contact.png", class: "clubIcon" , width: "100", height: "100") %><br>
<%= form_with scope: :contact, local: true do |form| %>
	<%= form.label :firstname %><br>
	<%= form.text_field :firstname %><br>

	<%= form.label :lastname %><br>
	<%= form.text_field :lastname %><br>

	<%= form.label :email %><br>
	<%= form.text_field :email %><br>
<div id="contact-second">
	<%= form.label :subject %><br>
	<%= form.text_field :subject %><br>

	<%= form.label :inquiry %><br>
	<%= form.text_area :inquiry %><br>
</div>
	<%= form.submit "Contact", :id => "contact-submit" %>


<% end %>
