<div class="forms">
<div class="outer-form">
</div>
<h4 class="contact-header"> CONTACT </h4>
<%= form_with scope: :contact, local: true do |form| %>
	
	<%= form.label :Firstname %><br>
	<%= form.text_field :firstname%><br>
	<%= form.label :Lastname %><br>
	<%= form.text_field :lastname %><br>

	<%= form.label :Email %><br>
	<%= form.text_field :email %><br>
	<%= form.label :Subject %><br>
	<%= form.text_field :subject  %><br>
	<%= form.label :Inquiry %><br>
	<%= form.text_area :inquiry, cols: "50", rows: "10" %><br>
	<%= form.submit "Contact", :id => "contact-submit" %>
<% end %>
</div>
