<% @proposals.each do |prop| %>
<div class="flip-container">
	<div class="front">	
			<%= image_tag("proposalAvatar.png", class: "honor" , width: "80", height: "100") %>
			<p> Title : <%= prop.title %></p>
		</div>
		<div class="back">
				<p> Country : <%= prop.country %></p>
				<p> Target Amount : <%= prop.target_amt %></p>
				<p> Content :<%= prop.content%></p>
				<p> Proposal Status: <%= prop.proposal_status %> </p>
				<button class="dash-bttn update-proposal"> Update Proposal </button>
		</div>
		</div>


<% end %>