<h4  class="contact-header"> ALL INVESTORS IN THE SYSTEM </h4>

<%  @investor.each do |investor| %>
	<div class="flip-container">
		<div class="flipper">
		<div class="front">	
		<%= image_tag("employeeAvatar.png", class: "honor" , width: "100", height: "100") %>
	<%= investor.firstname %>
	<%= investor.lastname %>

	<%= investor.email %>
		</div>
		<div class="back">

	<%= link_to "View Investor", investor_path(investor) %>
	<%= link_to "Edit", edit_investor_path(investor) %>
	<%= link_to 'Destroy', investor_path(investor),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

        	</div>
	</div>
	</div>

<% end %>