<h4  class="contact-header"> ALL INVESTORS IN THE SYSTEM </h4>

<%  @investor.each do |investor| %>
	<div class="flip-container">
		<div class="flipper">
		<div class="front">	
		<%= image_tag("employeeAvatar.png", class: "honor" , width: "100", height: "100") %><br>
	<p class="employee-links"> <%= investor.firstname%>
	<%= investor.lastname %></p>

	<p class="employee-links"> <%= investor.email%></p>
		</div>
		<div class="back">

	<%= link_to 'Delete Account', investor_path(investor),
              method: :delete,
              data: { confirm: 'Are you sure?' },  :class => "employee-links" %>

        	</div>
	</div>
	</div>

<% end %>