<% provide(:title, "Open Account") %>
<div class="content">
<div class="outer-form">
</div>
<div class="forms" style="margin-top: 100px;">

<h4 class="contact-header"> PLEASE CREATE AN ACCOUNT TO FUND ENTERPRISES </h4>
<%= form_for(@investor, url: open_account_path) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.label :firstname %><br>
	<%= f.text_field :firstname %><br>

	<%= f.label :lastname %><br>
	<%= f.text_field :lastname %><br>

	<%= f.label :email%><br>
	<%= f.email_field :email %><br>

	<%= f.label :password %><br>
	<%= f.password_field :password %><br>

	<%= f.label :password_confirmation %><br>
	<%= f.password_field :password_confirmation %><br>

	<%= f.hidden_field :is_investor, :value => true %>
	<%= f.hidden_field :investment_total, :value => 0 %>
	<br><br>

	<%= f.submit "Open Account" %>

<% end %>

</div>



</div>