<% provide(:title, @investor.firstname) %>
<div class="content">

	<div id="news-header">
		<h4 style="color:#3f83b1;"> HIGHLIGHTS </h4>
	</div>

	<% if !current_user.paid %>
	<h4 class="contact-header"> Your account will be charged a monthly $1 fee to stay active. Please subscribe to continue. </h4> 
		<% @charge = 1 %>
		<% @c_id = 'none' %>
		<% @charge_type = "monthly-fee" %>
		<%= render 'payments/process_payment' %>

	<% else %>

	<div id="dash-header">
			<p id="show-news" class="investor-bttn-options">News</p>
			<p id="show-myClubs" class="investor-bttn-options">my Clubs</p>
			<p id="show-allClubs" class="investor-bttn-options">Join Clubs</p>
			<p id="show-proposal" class="investor-bttn-options">Proposal</p>
			<p id="show-account" class="investor-bttn-options">Account</p>
	</div>


<div id="investor-dash">
	<div id="investor-news" class="allOptions default-news" >
		
		<div id="news-main">
			<%= render 'club_updates/club_update' %>
		</div>
	</div>

	<div  id="investor-myClubs" class="allOptions" >
		<%= render 'club_members/my_clubs' %>	
	</div>


	<div id="investor-allClubs" class="allOptions">
		<%= render 'clubs/all_clubs' %>	
	</div>

	<div id="investor-proposal" class="allOptions">
		<div id="add-proposal">
		<%= image_tag("proposal.png", id: "honor" , width: "40", height: "40") %>
		<p id="sub-prop">Submit Proposal</p>
		</div>

		<% @investor.proposals.each do |proposal| %>

		<div class="flip-container">
		<div class="flipper">
		<div class="front">	
		<div class="p-avatar">
			<%= image_tag("proposalAvatar.png", class: "honor" , width: "80", height: "100") %>
			<p> Title : <%= proposal.title %></p>
		<% if proposal.is_accepted? %>
			<p id="prop-accepted"> Accepted </p>
		<% else %>
			<p id="prop-pending"> Pending </p>
		<% end %>
		</div>
	</div>
		<div class="back">

		<div class="proposal">
		
		<p> Country : <%= proposal.country %></p>
		<p> Target Amount : <%= proposal.target_amt %></p>
		<p> Content :<%= proposal.content%></p>

		<%= link_to 'Delete Proposal', [proposal.investor, proposal],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class => "app-links delete-prop" %>

		</div>
	</div>
	</div>

        </div>

		<% end %>

		<div id="proposal"> 
			<div class="forms" id="investor-prop">
			<h4 class="contact-header" style="margin-top: 0;"> PROPOSAL </h4>
			<%= form_with(model: [@investor, @investor.proposals.build], local: true) do |form| %>


				<%= form.label :title %><br>
				<%= form.text_field :title %><br> 
		



			<%= form.label :Country %><br>
			<%= form.text_field :country%><br>
	

	
			<%= form.label :Target_Amount_USD %>
			<%= form.number_field :target_amt, min: 0 %> <br>

	
			<%= form.label :Proposal %><br>
			<%= form.text_area :content, cols: "50", rows: "10"%><br>
	
			<%= form.submit "Submit Proposal" %>
		<% end %>
		<button id="close-prop">X</button>
	</div>
	</div>
	</div>
</div>



 <div id="investor-acct" class="allOptions">


	<div id="dash-acct-opts">
		<button class="dash-bttn" id="acct-profile"> Profile </button>
		<button class="dash-bttn" id="acct-contacts">  Emergency Contacts </button>
		<button class="dash-bttn" id="acct-email"> Update Email </button>
		<button class="dash-bttn" id="acct-pass"> Reset Password </button>
	</div>

	<div id="dash-profile" class="dash-account acct-default">
		<p class="dash-profile"> Name: <%= @investor.firstname %><span> </span><%= @investor.lastname %></p>
		<p class="dash-profile">Email: <%= @investor.email %></p>
		<p class="dash-profile">Investment Total:<%= @investor.investment_total %> </p>
		<p> <%= @investor.proposals.count %> Proposals </p> <br> <%= image_tag("proposalAvatar.png", class: "honor" , width: "80", height: "100") %><br>
		
	</div>
	


	<div id="dash-contacts" class="dash-account"> 
		<% if @investor.executors.count < 2 %>
			<p style="color:red; text-align: center;"> Please submit 2 Emergency Contacts </p>
			<div class="forms" style="width: 90%; overflow: auto;">
				<%= form_with(model: [@investor, @investor.executors.build], local: true) do |form| %>

				<%= form.label :Primary_Firstname %><br>
				<%= form.text_field :primary_firstname %>
	
	
				<%= form.label :Primary_Lastname %><br>
				<%= form.text_field :primary_lastname%>
	

				<%= form.label :Primary_phone_number %><br>
				<%= form.text_field :primary_phone_number %> 

				<%= form.label :Primary_email %><br>
				<%= form.text_field :primary_email %> 

				<%= form.label :Primary_country_of_residence %><br>
				<%= form.text_field :primary_country_of_residence %> 


				<%= form.label :Secondary_Firstname %><br>
				<%= form.text_field :secondary_firstname %> 

				<%= form.label :Secondary_Lastname %><br>
				<%= form.text_field :secondary_lastname%> 

				<%= form.label :Secondary_phone_number %><br>
				<%= form.text_field :secondary_phone_number %> 

				<%= form.label :Secondary_email %><br>
				<%= form.text_field :secondary_email %> 

				<%= form.label :Secondary_country_of_residence %><br>
				<%= form.text_field :secondary_country_of_residence %> 


				<%= form.submit "Submit Contacts", id: "emerg-sub" %>
		

			<% end %>
		<% end %>
		</div>

		<% if @investor.executors.count == 2 %>
		<% @investor.executors.each do |e| %>
		<%= e.primary_firstname %>
		<%= e.primary_lastname %>
		<%= e.primary_phone_number %>
		<%= e.primary_email %>
		<%= e.primary_country_of_residence %>
		<%= e.secondary_firstname%>
		<%= e.secondary_lastname %>
		<%= e.secondary_phone_number %>
		<%= e.secondary_email %>
		<%= e.secondary_country_of_residence%>
		<%= link_to 'Edit', edit_investor_executor_path( e.investor, e) %>
		<%= link_to 'Remove Contact Record', [e.investor, e],
               method: :delete,
               data: { confirm: 'Please submit another name?' }, :class => "app-links" %>
		<% end %>
		<% end %>

		</div>

	<div id="dash-email" class="dash-account"> <p> shows email updates </p> </div>
	<div id="dash-pass" class="dash-account"> <p> shows password updates </p> </div>



</div>

</div>


</div>

<% end %>

<%= link_to "LogOut", logout_path, method: :delete, :id => "logout-bttn", :class => "app-links" %>
