<div class="forms" style="height:55%;  margin-top: 120px;">
<h4  class="contact-header">  CREATE A CLUB UPDATE </h4>
<%= form_for(:club_update, url:  club_updates_path) do |form| %>


	<%= form.label :title%><br>
	<%= form.text_field :title %><br>

	<%= form.label :subtitle%><br>
	<%= form.text_field :subtitle %><br>

	<%= form.label :Content %><br>
	<%= form.text_area :content %><br>

	<%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %><br>

	<%= form.submit "Create Club Update" %>

<% end %>
</div>


