<div class="forms">
<h4 class="contact-header" > CREATE POST  </h4>
<%= form_for(:post, url: posts_path) do |f| %>
	<%= f.label :Title %>
	<%= f.text_field :title %>
	<%= f.label :Content %>
	<%= f.text_area :content %>
	<%= f.submit "Post" %>
	<%= f.file_field :picture %> %>
<% end %>

</div>
