<div class="forms">
<h4 class="contact-header" > CREATE POST  </h4>
<%= form_for(:post, url: posts_path) do |f| %>
	<%= f.label :Title %>
	<%= f.text_field :title %>
	<%= f.label :Content %>
	<%= f.text_area :content %>
	<%= f.submit "Post" %>
	<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> %>
<% end %>

</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>