<h4  class="contact-header" style="margin-top: 100px;"> BLOG & SOCIAL MEDIA POSTS </h4>

<% if @posts.count > 0 %>
<%  @posts.each do |post| %>

<div class="flip-container">
	<div class="flipper">
		<div class="front">	
	<%= image_tag post.picture.url if post.picture? %><br>


	<h4 class="contact-header"> <%= post.title %></h4>
</div>
<div class="back">
	<p><%= post.content %></p>
	<% if employee_logged_in? %>
	  <% if post.is_approved? %>
	  	<p> Status : Published </p>
	  <% else %>
	  	<p> Status : Pending Approval </p>
	  <% end %>

	<%= link_to "View Article", edit_post_path(post),  :class => "app-links" %><br>
	<%= link_to "Edit Article", edit_post_path(post),  :class => "app-links" %><br>
	<%= link_to 'Destroy Article', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' },  :class => "app-links" %>
    <% end %>
</div>
</div>
</div>

<% end %>


<% else %>


<p> Looks like there are no published articles at this time. Please create some or come back later. </p>

<% end %>
