<footer>
<nav>
<ul>
	<% if logged_in?  || beneficiary_logged_in? || employee_logged_in? || status_logged_in?%>
	
	<% else %>
	<li><%= link_to "Terms", terms_path, :id => "terms-link"%></li>
  	<li><%= link_to "Privacy", privacy_path, :id => "privacy-link" %></li>
  	<li><%= link_to "Careers", careers_path, :id => "careers-link"%></li>
  	<li><%= link_to "Contact", contact_path , :id => "contact-link"  %></li>
  	<li style="float: right;"><%= link_to "Employees", employee_login_path, :id => "employee-link"  %></li>
  	<% end %>
  	<li><%= link_to image_tag("facebook.png",  width: 40, height: 40,alt: "facebook", :class => "main-imgs", :id => 'facebook'), "https://www.facebook.com/Nemabollon-Global-Solutions-215743569034402/" %></li>
  	<li><%= link_to image_tag("twitter.png",  width: 40, height: 40,alt: "facebook", :class => "main-imgs", :id => 'twitter'), "https://twitter.com/nemabollon" %></li>
  	<li><%= link_to image_tag("instagram.png",  width: 40, height: 40,alt: "instagram", :class => "main-imgs", :id => 'instagram'), "https://www.instagram.com/nemabollon/" %></li>
  	<li><%= link_to image_tag("linkedIn.png",  width: 40, height: 40,alt: "linkedIn", :class => "main-imgs", :id => 'linkedIn'), "https://www.instagram.com/nemabollon/" %></li>
  	<li><%= link_to image_tag("youtube.png",  width: 40, height: 40,alt: "youtube", :class => "main-imgs", :id => 'youtube'), "https://www.youtube.com/channel/UCUxohjLe6lkkUfvaj4cXYgQ" %></li>

</ul>
</nav>
</footer>