<header>
	<nav>
		<ul>
      <% if logged_in? %>
      

      <% else %>
		  <li><%= link_to "Home", root_url,  :id => "home-link"  %></li>
        <li><%= link_to "Open Account", open_account_path , :id  => "account-link"%></li>
        <li><%= link_to "Enterprise",  enterprise_path,  :id  => "enterprise-link"  %></li>
        <li><%= link_to "Venture Clubs", ventures_path,  :id  => "venture-link"  %></li>
        <li><%= link_to "About", about_path,  :id  => "about-link"  %></li>
  		<li><%= link_to "Team", team_path,  :id  => "team-link" %></li>
      <li style="float:right"> <%= link_to image_tag("login.png", alt: "login", width: 80, height:80 ), login_path %></li>
      <li style="float:right"><%= link_to "Get Funded", '#' %></li>

      <% end %> 


  		</ul>
  	</nav>
  </header>
  
