<header>

	<nav>
		<ul>
      <%= image_tag("nema-bollon-logo.png", :alt => "icon", :id => "nemaIcon") %>
      <% if logged_in? || beneficiary_logged_in?  %>


      <% else %>
		  <li><%= link_to "Home", root_url,  :id => "home-link"  %></li>
        <li><%= link_to "Open Account", open_account_path , :id  => "account-link"%></li>
        <li><%= link_to "Enterprise",  enterprise_path,  :id  => "enterprise-link"  %></li>
        <li><%= link_to "Venture Clubs", ventures_path,  :id  => "venture-link"  %></li>
        <li><%= link_to "About", about_path,  :id  => "about-link"  %></li>
  		<li><%= link_to "Team", team_path,  :id  => "team-link" %></li>
      <li style="float:right;"> <%=  image_tag("login.png", alt: "login", width: 60, height:60, :id => "show-login-opts" ) %></li>
      <li style="float:right"><%= link_to "Get Funded", get_funded_path %></li>

      <% end %> 


  		</ul>
  	</nav>
  </header>
        <div id="login-opts">
          <div class="log-opts"><%= link_to "Investors", login_path , :class => "app-links" , :id => "login-investor" %></div>
          <div class="log-opts"><%= link_to "Beneficiaries", beneficiary_login_path, :class => "app-links", :id => "login-beneficiary" %></div>
      </div>  
  

