<header>


	<nav id="nav-links">
		<ul>
     
      <% if logged_in? || beneficiary_logged_in?  || employee_logged_in? || status_logged_in?%>


      <% else %>
		    <li><%= link_to image_tag("nema-bollon-logo.png", alt: "login", width: 90, height: 60 ), root_url %></li>

        <li><%= link_to "Fund An Enterprise", open_account_path, :class => "app-links", :id  => "account-link"%></li>
        <li><%= link_to "About", about_path , :class => "app-links", :id  => "about-link"  %></li>
        <li><%= link_to "Enterprise",  enterprises_path, :class => "app-links", :id  => "enterprise-link"  %></li>
        <li><%= link_to "Venture Clubs", ventures_path , :class => "app-links", :id  => "venture-link"  %></li>
         <li><%= link_to "Blog", news_path , :class => "app-links", :id  => "news-link"  %></li>
  		<!--  <li><%= link_to "Team", team_path , :class => "app-links", :id  => "team-link" %></li> -->
        <li id="show-login"> <%=  image_tag("login.png", alt: "login", width: 60, height:60, :class => "app-links", :id => "show-login-opts" ) %></li>
        <li><%= link_to "Apply For Funding", apply_funding_path, :class => "app-links", :id  => "apply-link" %></li>
      <% end %> 


  		</ul>
  	</nav>
  </header>
        <div id="login-opts">
          <div class="log-opts"><%= link_to "Investors", login_path , :class => "app-links" , :id => "login-investor" %></div>
          <div class="log-opts"><%= link_to "Beneficiaries", beneficiary_login_path, :class => "app-links", :id => "login-beneficiary" %></div>
      </div>  
  

