<header>

	<nav id="nav-links">
		<ul>
     
      <% if logged_in? || beneficiary_logged_in?  || employee_logged_in? || status_logged_in?%>


      <% else %>
		    <li><%= link_to image_tag("nema-bollon-logo.png", alt: "login", width: 90, height: 60 ), root_url %></li>

        <li><%= link_to "INVEST", open_account_path, :class => "app-links", :id  => "account-link"%></li>
        <li><%= link_to "ABOUT", about_path , :class => "app-links", :id  => "about-link"  %></li>
        <li><%= link_to "ENTERPRISES",  enterprises_path, :class => "app-links", :id  => "enterprise-link"  %></li>
        <li><%= link_to "HOW IT WORKS", ventures_path , :class => "app-links", :id  => "venture-link"  %></li>
         <li><%= link_to "BLOG", news_path , :class => "app-links", :id  => "news-link"  %></li>
  		<!--  <li><%= link_to "Team", team_path , :class => "app-links", :id  => "team-link" %></li> -->
        <li><%= link_to "RECEIVE FUNDING", apply_funding_path, :class => "app-links", :id  => "apply-link" %></li>
        <div id="login-opts">
          <div class="log-opts"><%= link_to "Investors LogIn", login_path , :class => "app-links" , :id => "login-investor" %></div>
          <div class="log-opts"><%= link_to "Beneficiaries LogIn", beneficiary_login_path, :class => "app-links", :id => "login-beneficiary" %></div>
          <div>
  


      <% end %> 


  		</ul>
  	</nav>
  </header>



  

